.aut__btn{
    width: 285px;
    height: 50px;
    border:none;
    outline:none;
}
.aut__btn--mod{
  margin:10px 250px;
}
@media (max-width: 768px){
  .aut__btn{
    width: 325px;
    height: 50px;
    border:none;
    outline:none;
}
.aut__btn--mod{
  margin:10px 20px;
}
}